body {
    margin: 60px auto;
    width: 90%;
}

::selection {
    background: #5f00f9;
    color: #fff;
}

nav ul, footer ul {
    font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul > li  {
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}
nav ul li a:hover, nav ul li a:focus {
 color:#5F00F9;
}

nav li:before{
    content: " / ";
    color: #D5D5D5;
    /* padding: 0 10px; */
}

a {
    text-decoration: none;
    color: #D5D5D5;
}
h1, h2, h3, h4 {
  font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
}

.container h1, .home-container h1 {
    /* Text styles */
    font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    font-weight: 900;
    font-size: 60px;
    /* Margins */
    letter-spacing: -2px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


h2 {
    font-size: 2em;
}

.container  p, .home-container  p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.container .text-link:link, .home-container .text-link:link,
.container .text-link:visited, .home-container .text-link:visited{
  color: #000;
  font-size:90%;
  padding: .2rem .3rem .2rem;
  background: linear-gradient(to right,rgba(249, 170, 0,0.2),rgba(249,0,154,0.2));
  border-radius: 0.5rem;
  text-decoration: none;
}

footer {
    border-top: 1px solid #D5D5D5;
    vertical-align: bottom;
    margin-top: 20px;
}

/* Style font awesome social icons */
.fa {
	color: #D5D5D5;
  font-size:22px;
  display:inline-block;
  padding: 10px 10px;
  margin-bottom: -1px;
  margin-top: 2px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.fa:hover{
	color: #fff;
}

.fa.fa-twitter:hover {
	background: #5BBCEC;
}
.fa.fa-linkedin:hover {
	background: #0077B5;
}
.fa.fa-github:hover {
  background: #6E5494;
}
.fa.fa-instagram:hover {
  background: #E1306C;
}
.fa.fa-envelope:hover {
  background: #767676;
}

#hemocyte-gif {
  box-shadow: 0.2em 0.2em 0.5em #333;
  border-radius: 0.2em;
  width: 100%;
}


/*  home page*/
.row {
    display:inline-block;
}

/* sciencedisrupt project page */
/* .content-block{
  display: block;
  background-color:#F2F2F2;
  border-radius: 15px 15px 15px 15px;
  float: left;
  width: 25%;
  padding: 5px;
  margin: 10px;
  position: relative;
} */

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* ~~~~~~~ */
/* about page block style  */
/* 2 block page */
/* ~~~~~~~~ */

.block-image-2-col {
  display: block;
  position: relative;
  width: 45%;
  float: left;
  margin: 10px;
}

.image-2-col {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  object-fit: contain;
  overflow: hidden;
}

.overlay-2-col {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  transition: .5s ease;
  background-color: rgba(249,0,154,0.5);
  border-radius: 0px 0px 5px 5px;
}

.image-title-2-col {
  width:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
  font-weight: 900;
}

.block-image-2-col:hover .overlay-2-col {
  height: 20%;
  overflow: hidden;
}

.block-image-2-col:hover .image-title-2-col{
  visibility: visible;
  color: #FFF
}

/* ~~~~~~~  */
/* 3 block pages */
/* ~~~~~~ */

.block-image-3-col {
  display: block;
  position: relative;
  width: 30%;
  float: left;
  margin: 10px;
}

.image-3-col {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  object-fit: contain;
  overflow: hidden;
}

.overlay-3-col {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  transition: .5s ease;
  background-color: rgba(249,0,154,0.5);
  border-radius: 0px 0px 5px 5px;
}

.image-title-3-col {
  width:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
  font-weight: 900;
}

.block-image-3-col:hover .overlay-3-col {
  height: 20%;
  overflow: hidden;
}

.block-image-3-col:hover .image-title-3-col{
  visibility: visible;
  color: #FFF
}
