body {
    margin: 60px auto;
    width: 90%;
}

::selection {
    background: #5f00f9;
    color: #fff;
}

nav ul, footer ul {
    font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul > li  {
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}

a {
    text-decoration: none;
    color: #999;
}

.container  p {
    font-size: 14px;
}

.container  p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.58;
    letter-spacing: -.003em;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.container .text-link:link {
  color: #000;
  font-size:90%;
  padding: .2rem .3rem .2rem;
  background: linear-gradient(to right,rgba(249, 170, 0,0.2),rgba(249,0,154,0.2));
  border-radius: 0.5rem;
  text-decoration: none;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

h1, h2, h3, h4 {
  font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
}


h2 {
    font-size: 2em;
}

footer {
    border-top: 1px solid #D5D5D5;
    vertical-align: bottom;
    margin-top: 20px;
}

/* Style font awesome social icons */
.fa {
	color: #D5D5D5;
  font-size:22px;
  display:inline-block;
  padding: 10px 10px;
  margin-bottom: -1px;
  margin-top: 2px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.fa:hover{
	color: #fff;
}

.fa.fa-twitter:hover {
	background: #5BBCEC;
}
.fa.fa-linkedin:hover {
	background: #0077B5;
}
.fa.fa-github:hover {
  background: #6E5494;
}
.fa.fa-instagram:hover {
  background: #E1306C;
}
.fa.fa-envelope:hover {
  background: #767676;
}

#hemocyte-gif {
  box-shadow: 0.2em 0.2em 0.5em #333;
  border-radius: 0.2em;
  width: 100%;
}

.row {
    display:inline-block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ~~~~~~~ */
/* about page block style  */
/* 2 block page */
/* ~~~~~~~~ */

.block-image-2-col {
  display: block;
  position: relative;
  width: 90%;
  float: left;
  margin: 10px;
}

.image-2-col {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  object-fit: contain;
  overflow: hidden;
}

.overlay-2-col {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  background-color: rgba(249,0,154,0.5);
  border-radius: 0px 0px 5px 5px;
}

.image-title-2-col {
  width:100%;
  position: absolute;
  top: 10%;
  /* left: 50%;  */
  font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
  font-weight: 900;
  font-size: 5vw;
  color: #FFF;
  text-align: center;
}

/* ~~~~~~~  */
/* 3 block pages */
/* ~~~~~~ */

.block-image-3-col {
  display: block;
  position: relative;
  width: 90%;
  float: left;
  margin: 10px;
}

.image-3-col {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  object-fit: contain;
  overflow: hidden;
}

.overlay-3-col {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  background-color: rgba(249,0,154,0.5);
  border-radius: 0px 0px 5px 5px;
}

.image-title-3-col {
  width:100%;
  position: absolute;
  top: 10%;
  /* left: 50%;  */
  font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
  font-weight: 900;
  font-size: 5vw;
  color: #FFF;
  text-align: center;
}

/*  */
.container h1 {
  font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
  font-weight: 900;
  font-size: 60px;
  /* Margins */
  margin-top: 0.5em;
  margin-bottom: 0.5em;

}
