@import "tailwindcss";

@keyframes blob1 {
  0% {
    d: path(
      "M0.15,0.5 C0.1,0.3 0.35,0.15 0.6,0.25 C0.85,0.35 0.8,0.7 0.55,0.75 C0.3,0.8 0.2,0.7 0.15,0.5 Z"
    );
  }
  33% {
    d: path(
      "M0.18,0.52 C0.12,0.28 0.4,0.18 0.62,0.3 C0.84,0.42 0.78,0.68 0.53,0.72 C0.28,0.76 0.18,0.68 0.18,0.52 Z"
    );
  }
  66% {
    d: path(
      "M0.12,0.48 C0.08,0.32 0.33,0.12 0.58,0.2 C0.83,0.28 0.79,0.72 0.57,0.78 C0.35,0.84 0.18,0.68 0.12,0.48 Z"
    );
  }
  100% {
    d: path(
      "M0.15,0.5 C0.1,0.3 0.35,0.15 0.6,0.25 C0.85,0.35 0.8,0.7 0.55,0.75 C0.3,0.8 0.2,0.7 0.15,0.5 Z"
    );
  }
}

.blob1 path {
  animation: blob1 6s linear infinite;
}

:root {
  font-family: "Fredoka One", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

span.construction-item.barrier-1:hover {
  border: 1px solid red;
}

#title span {
  pointer-events: all;
}

#title .construction-item.barrier-2:hover {
  border: 1px solid blue;
  transform: translate(10px, 20px);
}
